{% from "macros.html" import nav_link with context %}
{% from "macros.html" import drop_link with context %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
			<!--<link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css" crossorigin="anonymous">-->
			<link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css" crossorigin="anonymous">
			<link href="/static/style.css" rel="stylesheet">
			<link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>

	<body>
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="{{ url_for('index') }}" class="navbar-brand">Scriptar</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav navbar-right">
						{{ nav_link('index', 'Home') }}
						{% if 'user_id' not in session %}
							{{ nav_link('login', 'Log in') }}
							{{ nav_link('signup', 'Sign up') }}
						{% else %}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="profile_menu">Profile <span class="caret"></span></a>
								<ul class="dropdown-menu" aria-labelledby="profile_menu">
									{{ drop_link('profile_app.profile', 'Profile') }}
									{{ drop_link('file_upload', 'Upload') }}
									<li role="presentation" class="divider"></li>
									{{ drop_link('logout', 'Log out') }}
								</ul>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div id="content">{% block content %}{% endblock %}</div>

			<div id="footer">
				{% block footer %}
					&copy; Copyright 2017 by <a href="http://xor.noip.me/">Scriptar</a>.
				{% endblock %}
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{% block js %}{% endblock %}
	</body>
</html>
