{% from "macros.html" import * with context %}
{# {% from "macros.html" import drop_link with context %} #}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
			<link href="/static/style.css" rel="stylesheet">
			<link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>

	<body>
		<div class="container">
			<div class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						{{ nav_link('index', 'Home') }}
						{% if 'user_id' not in session %}
							{{ nav_link('login', 'Log in') }}
							{{ nav_link('signup', 'Sign up') }}
						{% else %}
							<li><div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="profile_menu" data-toggle="dropdown">Profile<span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="profile_menu">
									{{ drop_link('profile_app.profile', 'Profile') }}
									{{ drop_link('file_upload', 'Upload') }}
									<li role="presentation" class="divider"></li>
									{{ drop_link('logout', 'Log out') }}
									<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>-->
									<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>-->
									<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>-->
									<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>-->
								</ul>
							</div></li>
						{% endif %}
					</ul>
				</nav>
				<a href="{{ url_for('index') }}"><h3 class="text-muted">Scriptar</h3></a>
			</div>

			<div id="content">{% block content %}{% endblock %}</div>

			<div id="footer">
				{% block footer %}
					&copy; Copyright 2017 by <a href="http://xor.noip.me/">Scriptar</a>.
				{% endblock %}
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		{% block js %}{% endblock %}
	</body>
</html>
