{% block navbar %}
<div class="header">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li id="nav_index" role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
			<li id="nav_login" role="presentation"><a href="{{ url_for('login') }}">Log in</a></li>
			<li id="nav_signup" role="presentation"><a href="{{ url_for('signup') }}">Sign up</a></li>
			<li id="nav_upload" role="presentation"><a href="{{ url_for('file_upload') }}">Upload</a></li>
		</ul>
	</nav>
	<h3 class="text-muted">Scriptar</h3>
</div>
{% endblock %}
