{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1>Sign up</h1>
		<form method="post">
			<p><input type=text name=username placeholder=username value="{% if username %} {{ username}} {% endif %}">
			<p><input type=email name=email placeholder=email value="{% if email %} {{ email}} {% endif %}">
			<p><input type=password name=password placeholder=password>
			<p><input type=password name=password_con placeholder="confirm password">
			<p><input type=text name=name placeholder="full name" value="{% if name %} {{ name}} {% endif %}">
			<p><input type=submit value="Sign up">
		</form>
	</div>
{% endblock %}

{% block js %}
	<script>$('#nav_signup').addClass('active')</script>
{% endblock %}
