{% extends "layout.html" %}
{% extends "navbar.html" %}

{% block title %}Index{% endblock %}

{% block content %}
	{% block navbar %} {{ super() }} {% endblock %}
	<div class="jumbotron">
		<h1>Sign up</h1>
		<form method="post">
			<p><input type=text name=username placeholder=username>
			<p><input type=email name=email placeholder=email>
			<p><input type=password name=password placeholder=password>
			<p><input type=password name=password_con placeholder="confirm password">
			<p><input type=text name=name placeholder="full name">
			<p><input type=submit value="Sign up">
		</form>
	</div>
{% endblock %}

{% block js %}
	<script>$('#nav_signup').addClass('active')</script>
{% endblock %}
